/* pages/tools/tools.wxss */
page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.scrollarea {
  flex: 1;
  overflow-y: hidden;
  //padding-bottom: 15%;
}
.body-v{
  text-align: center;
  padding-bottom: 20%;
}
.tools-v{
  width:100px;
  margin:2%;
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #333;
  font-size: 16px;
  vertical-align: top;
  .iconBtn{
    background-color: #33527410;
    color:rgb(83, 80, 80);
    border-radius: 1px;
    padding:0px;
    line-height: 32px;
    font-size: 16px;
    margin-bottom: 5px;
  }
}
.info-text{
  font-size: 12px;
  text-align: left;
  padding: 0px;
  text{
    display: -webkit-box;
    //font-size:28rpx;
    color:#666;
    //line-height: 40rpx;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    overflow: hidden;
    text-overflow:ellipsis;
  }
}